body{
    background: linear-gradient(135deg, #667eea,#764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculadora{
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.contenedor1, .contenedor2, .contenedor3, .contenedor4{
    background-color: #34495e;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
}

.pantalla{
    width: 90%;
    height: 60px;
    font-size: 36px;
    text-align: right;
    padding: 0 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 10px;
}

#calculadora div{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 15px;
    justify-content: center;
}

button{
    width: 80px;
    height: 80px;
    font-size: 28px;
    cursor: pointer;
    background-color:#3498db;
    border: none;
    border-radius: 15px;
    color: #fff;
    transition: all 0.2s ease;
    box-shadow: 0 5px rgba(0, 0, 0, 0.3);
}

button:active{
    transform: translateY(5px);
    box-shadow: none;
}

button:hover{
    background-color: #95a5a6;
}

button.funcion{
    background-color: #f39c12;
}

button.resultado{
    background-color: #2ecc71;
}

#clear{
    background-color: rgb(201, 43, 43);
    width: 100%;
    grid-column: span 2;
}

button.cero, .punto{
    width: 100%;
    grid-column: span 2 ;
}

.punto {
    background-color: #446a6d;
}